<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157528473546-hl1sqtvt7ugp60jp1ic3nf9sogvr4elp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157528473546-hl1sqtvt7ugp60jp1ic3nf9sogvr4elp</string>
	<key>API_KEY</key>
	<string>AIzaSyB-HOoPCA_Ry_AjGpAJ7FitH_KDqcZ6WEI</string>
	<key>GCM_SENDER_ID</key>
	<string>157528473546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sstinc.ayaanjainkaiquan.Announcer</string>
	<key>PROJECT_ID</key>
	<string>sst-announcer-d5b73</string>
	<key>STORAGE_BUCKET</key>
	<string>sst-announcer-d5b73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157528473546:ios:597950f1cc54a2a0eb5933</string>
</dict>
</plist>